<div class="container">
  <div class="section">
    <div class="section-content">
      <img id="logo" src="../../../assets/Lekstugan.png" alt="" />
      <h2>Welcome to Lekstugan!</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corrupti
        non aliquid incidunt? Nulla rerum libero fugit inventore suscipit vel
        deserunt explicabo officia fuga quidem, maxime, soluta voluptatem?
        Ratione, impedit? Suscipit similique repellendus soluta quasi distinctio
        odio maxime quibusdam explicabo voluptatibus non ullam, delectus quo
        repudiandae voluptatem hic, impedit iste voluptates adipisci! Hic, vel.
        Qui corrupti recusandae dolor est nihil? Quidem tempore odio in? Sint
        voluptas reprehenderit hic dolore quasi ratione exercitationem illo dicta
        ducimus maiores animi totam distinctio nisi, quas fuga doloremque ipsa.
        Fugit nulla explicabo odio repudiandae praesentium?
      </p>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="section">
    <div class="section-content">
      <h2>What is Lekstugan?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ut officia
        excepturi illo, repudiandae repellendus numquam, maiores inventore qui ea
        quasi expedita eum possimus libero est? Qui voluptates nostrum ducimus. Esse
        magni placeat dicta inventore, rerum, velit tenetur totam nulla harum magnam
        vitae unde enim corporis cumque suscipit impedit vero excepturi sit laborum
        deleniti veritatis. Nobis eius expedita ex dignissimos. Neque nam natus
        consequatur sint iste quis mollitia hic sed? Maiores delectus ipsum possimus
        dignissimos facere, esse minima doloremque ab! Ducimus nesciunt doloribus
        recusandae aliquid inventore a earum libero magnam?
      </p>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="section">
    <div class="section-content">
      <h2>Where?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ut officia
        excepturi illo, repudiandae repellendus numquam, maiores inventore qui ea
        quasi expedita eum possimus libero est? Qui voluptates nostrum ducimus. Esse
        magni placeat dicta inventore, rerum, velit tenetur totam nulla harum magnam
        vitae unde enim corporis cumque suscipit impedit vero excepturi sit laborum
        deleniti veritatis. Nobis eius expedita ex dignissimos. Neque nam natus
        consequatur sint iste quis mollitia hic sed? Maiores delectus ipsum possimus
        dignissimos facere, esse minima doloremque ab! Ducimus nesciunt doloribus
        recusandae aliquid inventore a earum libero magnam?
      </p>
      <mat-divider></mat-divider>
    </div>
  </div>
  <footer>Contact us: <a href="mailto: lekstugan@lekstugan.com">lekstugan@lekstugan.com</a></footer>
</div>