.side {
  position: fixed;
  left: 10px;
  top: 10px;
}
.main-container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image-container, .event-container {
  position: fixed;
  // top: 150px;
  top: 150px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 92vh;
  overflow-y: auto;


  & > * {
    margin: 20px;
  }
}


.events-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  & > * {
    margin: 1rem;
  }

}

event-form {
  width: 1000px;
}

.bookings-container {
  position: absolute;
  top: 160px;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  overflow-y: auto;

  & > * {
    width: 100%;
    height: 255px;
    margin: 10px;
  }
}

.approved-bookings-container {
  margin-top: 200px;
  width: 800px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(231, 231, 231);

  & > * {
    margin: 1rem;
  }
}


.toggle {
  position: fixed;
  top: 100px;
  z-index: 100;
  width: 100%;
  height: 60px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: row;
  
  & > * {
    width: 100%;
    height: 100%;
    border: none;
    border-right: 1px solid #676767;
    border-radius: 0;
    background-color: #313131;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
}

.centered {
  right: auto;
  left: auto;
  overflow-y: unset;
}

@media screen and (max-width: 600px) {
  .main-container {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    margin-top: 0px;
  }

  .image-container {
    position: unset;
    overflow: unset;
    width: 100%;
    // margin-top: 180px;
  }

  .bookings-container {
    position: unset;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
    height: 255px;
    padding-bottom: 8px;

    & > * {
      width: fit-content;
      height: 100%;
      margin: 10px;
    }
  }

  .approved-bookings-container {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(231, 231, 231);

    & > * {
      margin: 1rem 0;
    }
  }

  .toggle {
    position: unset;
    margin-top: 100px;
    
    & > * {
      font-size: 1.4rem;
    }
  }

  app-event-form {
    // position: unset;
    position: absolute;
    top: 0;
    overflow: unset;
    width: 100% !important;
  }
  
  app-events-container {
    position: absolute;
    top: 700px;
    width: 100%;
    margin-top: 100px;
 
    & img {
      object-position: center;
    }
  }
}

.image-container::-webkit-scrollbar, .bookings-container::-webkit-scrollbar {
    width: 0.1em;
  }

.image-container::-webkit-scrollbar-track, .bookings-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.image-container::-webkit-scrollbar-thumb, .bookings-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.image-container, .bookings-container{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}