<div class="container">
  <mat-card>
    <h1>Generate key</h1>
    <mat-card-subtitle>This form is used to generate a private key
      for the associations to use when signing their booking requests.
      Once a new key has been generated, the old one will be invalid.
      (The key automatically get send to the association's email)
    </mat-card-subtitle>
    <form (submit)="onGenerateKey()" [formGroup]="association">
      <mat-form-field>
        <mat-label>Association</mat-label>
        <mat-select formControlName="name">
          <mat-option *ngFor="let association of allAssociations" [value]="association.name">
            {{association.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" mat-raised-button>
        Generate key
        <mat-icon>key</mat-icon>
      </button>
    </form>
    <span class="spinner" *ngIf="loading" >
      <mat-spinner></mat-spinner>
    </span>
    <span class="key" *ngIf="key.length > 0">
      <div>
        <mat-icon>key</mat-icon>
        <p id="key">
          {{key}}
        </p>
      </div>
    </span>
  </mat-card>
</div>
