<mat-card>
  <mat-card-header>
    <mat-card-title>{{booking.date | date}}</mat-card-title>
    <mat-card-subtitle>{{booking.association?.name}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="booking.email !== booking.association?.email && booking.email.trim().length !== 0">Preferred: {{booking.email}}</mat-card-subtitle>
    <mat-card-subtitle>Main: {{booking.association?.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{booking.comment}}
    </p>
  </mat-card-content>
  <mat-card-actions [ngStyle]="{'postition: absolute': booking.pending}" >
    <button *ngIf="booking.pending" (click)="onAccept()" color="primary" mat-raised-button>Accept</button>
    <button (click)="onDelete()" color="warn" mat-raised-button>Delete</button>
  </mat-card-actions>
</mat-card>