<mat-card class="event-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{eventData.title}}</mat-card-title>
    <mat-card-subtitle>{{eventData.date |  date: 'mediumDate'}}</mat-card-subtitle>
  </mat-card-header>
  <img class="event-image" *ngIf="eventData.image" mat-card-image src={{eventData.image}}>
  <mat-divider *ngIf="!eventData.image"></mat-divider>
  <mat-card-content>
    <p>
      {{eventData.description}}
    </p>
    <a target="_blank" href={{eventData.link}}><mat-icon>link</mat-icon>{{eventData.link}}</a>
    <button id="delete-btn" (click)="onDelete(eventData)" mat-fab color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-content>
</mat-card>