.container {
  margin-top: 150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .container > * {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

mat-form-field {
  width: 100%;
}

#mainFields {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2;
  grid-gap: 10px;
  grid-template-areas: 
  'date title'
  'description description'
  ;
  max-width: 500px;
  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'date'
    'title'
    'description'
    ;
  }
}

mat-card {
  padding: 20px;
  width: max-content;
}

#confirm-valid, #confirm-invalid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

#confirm-valid {
  color: green;
}

#confirm-invalid {
  color: red;
}

#date {
  grid-area: date;
}

#title {
  grid-area: title;
}

#description {
  grid-area: description;
}

#linkList {
  display: flex;
  flex-direction: column;
}

#imageInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  width: max-content;
  padding: 10px;

  & > input {
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(213, 213, 213, 0.656);
  }
}

#imageConfirmation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: green;
}