.admin {
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  align-items: center;

  & > span {
    width: 100%;
  }
}

mat-card {
  padding: 20px;
}

.add {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.admin-list {
  max-height: 200px;
  overflow-y: scroll;
}

.container {
  max-width: 500px;
}
