<div class="container">
<mat-card>

  <h1>Booking</h1>
  <form [formGroup]="bookingForm" (submit)="onSubmitBooking()" action="#">
    <mat-form-field id="date" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input [matDatepickerFilter]="dateFilter" formControlName="date" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field id="email">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput>
    </mat-form-field>
  <mat-form-field appearance="fill" id="comment">
  <mat-label>Comment</mat-label>
  <textarea formControlName="comment" matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <button mat-raised-button>Request booking</button>
  <span id="confirm-valid" *ngIf="booked">
    <mat-icon>check</mat-icon>
    Booking for {{bookedDate | date: 'mediumDate'}} requested!
  </span>
  <span id="confirm-invalid" *ngIf="invalid">
    <mat-icon>priority_high</mat-icon>
    Something went wrong.
  </span>
  </form>
</mat-card>
</div>
