<div class="container">
<mat-card [ngClass]="{'roll': roll}">
  <h1>Booking</h1>
  <form [formGroup]="bookingForm" (submit)="onSubmitBooking()" action="#">
    <mat-form-field id="date" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input [matDatepickerFilter]="dateFilter" formControlName="date" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field id="email">
      <mat-label>Contact Email</mat-label>
      <input [height]="2" formControlName="email" matInput>
    </mat-form-field>
  <mat-form-field appearance="fill" id="comment">
  <mat-label>Comment</mat-label>
  <textarea maxlength="120" formControlName="comment" matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <mat-form-field id="name">
    <mat-label>Association name</mat-label>
    <input [height]="2" formControlName="name" matInput>
  </mat-form-field>
  <mat-form-field id="key">
    <mat-label>Key</mat-label>
    <input [height]="2" formControlName="key" matInput>
  </mat-form-field>
  <button mat-raised-button>Request booking</button>
  <span id="confirm-valid" *ngIf="booked">
    <mat-icon>check</mat-icon>
    Booking for {{bookedDate | date: 'mediumDate'}} requested!
  </span>
  <span id="confirm-invalid" *ngIf="invalid">
    <mat-icon>priority_high</mat-icon>
    Something went wrong.
  </span>
  </form>
</mat-card>
</div>
