<mat-drawer-container class="main-container" autosize>
  <!-- <app-header></app-header> Only rendered on desktop, excluded on mobile -->
  <mat-drawer #drawer class="sidenav-container" mode="over">
    <!-- <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <h4 matLine>Home</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list> -->
        <button class="navLink" color="primary" routerLink="/booking" mat-flat-button><mat-icon>home</mat-icon>Hem</button>
        <button class="navLink" color="primary" routerLink="/booking" mat-flat-button><mat-icon>home</mat-icon>Hem</button>
        <button class="navLink" color="primary" routerLink="/" mat-flat-button><mat-icon>home</mat-icon>Hem</button>
        <button class="navLink" color="primary" routerLink="/booking" mat-flat-button><mat-icon>home</mat-icon>Hem</button>

  </mat-drawer>
  <div class="example-sidenav-content">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon color="primary">menu</mat-icon>
    </button>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>