<mat-drawer-container class="main-container" autosize>
  <header *ngIf="isMobile" id="mobile-header">
    Lekstugan
    <button (click)="drawer.toggle()" [ngClass]="{'sticky': isSticky }" mat-icon-button class="menu-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon color="primary">menu</mat-icon>
    </button>
  </header>
  <header *ngIf="!isMobile" id="desktop-header">
    <h2>
      Lekstugan
    </h2>
    <div>
      <button class="navLink-desktop" color="primary" routerLink="/"><mat-icon>home</mat-icon>Hem</button>
      <button class="navLink-desktop" color="primary" routerLink="/gallery"><mat-icon>photo_library</mat-icon>Fotogalleri</button>
      <button class="navLink-desktop" color="primary" routerLink="/events"><mat-icon>event</mat-icon>Events</button>
      <button class="navLink-desktop" color="primary" routerLink="/contact"><mat-icon>mail</mat-icon>Kontakt</button>
      <button class="navLink-desktop" color="primary" routerLink="/admin"><mat-icon>admin_panel_settings</mat-icon>Admin</button>
    </div>
  </header>

  <mat-drawer #drawer class="sidenav-container" mode="over">
        <button class="navLink" color="primary" routerLink="/" mat-flat-button><mat-icon>home</mat-icon>Hem</button>
        <button class="navLink" color="primary" routerLink="/gallery" mat-flat-button><mat-icon>photo_library</mat-icon>Fotogalleri</button>
        <button class="navLink" color="primary" routerLink="/events" mat-flat-button><mat-icon>event</mat-icon>Events</button>
        <button class="navLink" color="primary" routerLink="/contact" mat-flat-button><mat-icon>mail</mat-icon>Kontakt</button>
        <button class="navLink" color="primary" routerLink="/admin" mat-flat-button><mat-icon>admin_panel_settings</mat-icon>Admin</button>
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>