.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
}

.sidenav-container {
  width: minmax(200px, 300px);
  margin-top: 50px;
  height: min-content;
  background-color: transparent;
}

.navLink {
  align-items: center;
  font-size: 1.05rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: start;
  background: rgb(69, 69, 69);
  margin-top: 10px;
  display: block;
  width: 200px;
  border-radius: 0;
  padding: 15px;
  height: min-content;
}

#header-image {
  height: 150px;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  #header-image {
    height: 100px;
  }
}

@media screen and (max-width: 600px) {
  #header-image {
    height: 50px;
  }
}