.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > * {
    margin-bottom: 20px;
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    & > * {
      width: 100%;
    }
  }
}
  
